<h1><%= _('Noosfero directory') %></h1>

<div class="site-thumbnails row">
  <% sites.each do |site| %>
    <div class="col-xs-6 col-md-3">
      <a href="/sites/<%= site['id'] %>/" class='thumbnail'>
        <img src="/sites/<%= site['id'] %>/screenshot.thumb.png"/>
        <div class='caption'>
          <%= site['name'] %>
        </div>
      </a>
    </div>
  <% end %>
</div>
